<div *ngIf="!gameStarted" class="field-buttons">
  <button *ngIf="backButtonAvaliable" (click)="navigateBack()" class="back-button">
    <span>Return</span>
  </button>

  <h2 class="offline-text" *ngIf="offlineMode">Offline Mode</h2>

  <!-- Pick a side to play -->
  <div *ngIf="!(selectedField == 1 || selectedField == 0)" class="field-buttons">

    <button [disabled]="!(this._data.seasons | async) && !offlineMode || (remoteScreens[0].status != 'idle' && remoteScreens[0].status != 'gameOver' && remoteScreens[0].status != 'selectedField')" (click)="selectField(0)" class="easy-button">
      Bondi
    </button>

    <button [disabled]="!(this._data.seasons | async) && !offlineMode || (remoteScreens[1].status != 'idle' && remoteScreens[1].status != 'gameOver' && remoteScreens[1].status != 'selectedField')" (click)="selectField(1)" class="easy-button">
      Kokomo

    </button>
  </div>

  <!-- Show Teams Playing on Selected Field -->
  <div *ngIf="(selectedField == 1 && !selectedGame && loadingTeams && !offlineMode) || (selectedField == 0 && !selectedGame && loadingTeams && !offlineMode)" class="loader">
    Loading...
  </div>
  <div *ngIf="selectedField == 1 && !selectedGame && !loadingTeams && !offlineMode" class="game-buttons">
    <button *ngFor="let game of kokomoGames; let i = index" [disabled]="(game.includes('empty')) || game[4]" (click)="selectGame(game)" class="easy-button">
      <span *ngIf="!(game.includes('empty'))"><span *ngIf="game[2] != 'custom'">{{gameTime(i)}} | </span>{{game[0].team_name}} vs {{game[1].team_name}}</span><span *ngIf="(game.includes('empty'))">{{gameTime(i)}} | No Game </span>
    </button>
  </div>
  <div *ngIf="selectedField == 0 && !selectedGame && !loadingTeams && !offlineMode" class="game-buttons">
    <button *ngFor="let game of bondiGames; let i = index" [disabled]="(game.includes('empty')) || game[4]" (click)="selectGame(game)" class="easy-button">
      <span *ngIf="!(game.includes('empty'))"><span *ngIf="game[2] != 'custom'">{{gameTime(i)}} | </span>{{game[0].team_name}} vs {{game[1].team_name}}</span><span *ngIf="(game.includes('empty'))">{{gameTime(i)}} | No Game </span>
    </button>
  </div>
  <div *ngIf="(selectedField == 0 || selectedField == 1) && offlineMode && !selectedGame" class="game-buttons">
    <button (click)="selectGame(dummyGame)" class="easy-button">
      <span>Team 1 vs Team 2</span>
    </button>
  </div>

  <!-- Pre Warn - Start Game Panel - Teams Showing on Scoreboards -->
  <div *ngIf="selectedGame" class="game-buttons">
    <div class="playing-teams-container">
      <h3 class="playing-teams">{{selectedGame[0].team_name}} vs {{selectedGame[1].team_name}}</h3>
      <button (click)="startGame(selectedField)" class="easy-button">
        Start Game
      </button>
    </div>
  </div>
</div>


<!-- Game Control -->
<div *ngIf="gameStarted && !switched" class="game-buttons">
  <div class="game-container">
    <div class="team-1-container">
      <div class="team-name">
        <h2>{{selectedGame[0].team_name}}</h2>
      </div>
      <div class="team-score">
        <h2>{{remoteScreens[selectedField].team_one.score}}</h2>
      </div>
      <div class="team-actions">
        <button (click)="addPoint(selectedGame[0].uid)" class="easy-button">
          +
        </button>
        <button (click)="takePoint(selectedGame[0].uid)" class="easy-button">
          -
        </button>
      </div>
    </div>
    <div class="controls">
      <button (click)="endGame(selectedField)" class="easy-button">
        End Game
      </button>
      <br>
      <button style="margin-top: 50px;" (click)="switchSides()" class="easy-button">
        Switch Ends
      </button>
    </div>
    <div class="team-2-container">
      <div class="team-name">
        <h2>{{selectedGame[1].team_name}}</h2>
      </div>
      <div class="team-score">
        <h2>{{remoteScreens[selectedField].team_two.score}}</h2>
      </div>
      <div class="team-actions">
        <button (click)="addPoint(selectedGame[1].uid)" class="easy-button">
          +
        </button>
        <button (click)="takePoint(selectedGame[1].uid)" class="easy-button">
          -
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="gameStarted && switched" class="game-buttons">
  <div class="game-container">
    <div class="team-2-container">
      <div class="team-name">
        <h2>{{selectedGame[1].team_name}}</h2>
      </div>
      <div class="team-score">
        <h2>{{remoteScreens[selectedField].team_two.score}}</h2>
      </div>
      <div class="team-actions">
        <button (click)="addPoint(selectedGame[1].uid)" class="easy-button">
          +
        </button>
        <button (click)="takePoint(selectedGame[1].uid)" class="easy-button">
          -
        </button>
      </div>
    </div>
    <div class="controls">
      <button (click)="endGame(selectedField)" class="easy-button">
        End Game
      </button>
      <br>
      <button style="margin-top: 50px;" (click)="switchSides()" class="easy-button">
        Switch Ends
      </button>
    </div>
    <div class="team-1-container">
      <div class="team-name">
        <h2>{{selectedGame[0].team_name}}</h2>
      </div>
      <div class="team-score">
        <h2>{{remoteScreens[selectedField].team_one.score}}</h2>
      </div>
      <div class="team-actions">
        <button (click)="addPoint(selectedGame[0].uid)" class="easy-button">
          +
        </button>
        <button (click)="takePoint(selectedGame[0].uid)" class="easy-button">
          -
        </button>
      </div>
    </div>
  </div>
</div>
<div (click)="resetScoreboard()" class="hidden-button"></div>
