:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hidden-button {
  background-color: none;
  height: 100px;
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
}

.offline-text {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 9999;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 1.4em;
  color: #2d2d2d;
  background-color: ghostwhite;
  z-index: 999;
}

.playing-teams {
  font-size: 2em;
  margin-bottom: 50px;
}

.playing-teams-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.field-buttons {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
}

.game-buttons {
  width: 100%;
  overflow: hidden;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.game-container .controls {
  margin: 0 50px;
  width: 20%;
}

.team-1-container, .team-2-container {
  width: 35%;
  margin: 0 2.5%;
}

.team-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team-actions button {
  margin: 10px 0px;
  width: 100%;
}

.team-score {
  font-size: 4em;
  width: 100%;
  text-align: center;
}

.team-name {
  font-size: 1.3em;
  width: 100%;
  text-align: center;
}

.easy-button {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, darken(#9f1fd6, 10) 5%, #9f1fd6 100%);
	background-color:darken(#9f1fd6, 10);
	border-radius:6px;
	border:1px solid #darken(#9f1fd6, 20);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:24px 50px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.easy-button:hover {
	background:linear-gradient(to bottom, #9f1fd6 5%, darken(#9f1fd6, 10) 100%);
	background-color:#9f1fd6;
}

.easy-button:disabled {
	background:linear-gradient(to bottom, #2d2d2d 5%, #3e3e3e 100%);
	background-color:#3e3e3e;
	cursor:default;
	border:1px solid #2d2d2d;
}
